body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

section {
    margin: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 20px; /* Space between images */
    justify-items: center; /* Centers the content horizontally */
}

.grid-container img {
    width: 100%; /* Ensures that images take up full width of their grid cells */
    height: auto; /* Ensures aspect ratio is maintained */
    max-width: 300px; /* Limits the maximum width to ensure they are not too large */
}

.project-content {
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

