body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

section {
    margin: 2rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-container img {
    flex-basis: 45%; /* Adjust the percentage to ensure images fit well */
    max-width: 100%;
    height: auto;
}

.project-content {
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

